{% extends "layout.html"%}

    {% block content %}
<p><b style="font-size:300%">현재 상영중인 영화 순위</b> /05.22 기준</p>
<p>(출처 : 네이버 영화)</p>
<p><a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=193804"><img style="padding : 20px;" src="{{ url_for('static', filename='0.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=185285"><img style="padding : 20px;"src="{{ url_for('static', filename='1.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=106360"><img style="padding : 20px;"src="{{ url_for('static', filename='2.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=188790"><img style="padding : 20px;"src="{{ url_for('static', filename='3.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=14448"><img style="padding : 20px;"src="{{ url_for('static', filename='4.png') }}"></a></p>
<p><a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=176028"><img style="padding : 20px;" src="{{ url_for('static', filename='5.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=191633"><img style="padding : 20px;"src="{{ url_for('static', filename='6.png') }}"></a>
   <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=190721"> <img style="padding : 20px;"src="{{ url_for('static', filename='7.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=152691"><img style="padding : 20px;"src="{{ url_for('static', filename='8.png') }}"></a>
   <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=85825"> <img style="padding : 20px;"src="{{ url_for('static', filename='9.png') }}"></a></p>
<p><a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=193806"><img style="padding : 20px;" src="{{ url_for('static', filename='10.png') }}"></a>
   <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=193092"> <img style="padding : 20px;"src="{{ url_for('static', filename='11.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=192147"><img style="padding : 20px;"src="{{ url_for('static', filename='12.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=181114"><img style="padding : 20px;"src="{{ url_for('static', filename='13.png') }}"></a>
   <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=164920"> <img style="padding : 20px;"src="{{ url_for('static', filename='14.png') }}"></a></p>
<p><a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=167675"><img style="padding : 20px;" src="{{ url_for('static', filename='15.png') }}"></a>
    <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=190711"><img style="padding : 20px;"src="{{ url_for('static', filename='16.png') }}"></a>
   <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=190447"> <img style="padding : 20px;"src="{{ url_for('static', filename='17.png') }}"></a>
  <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=179394">  <img style="padding : 20px;"src="{{ url_for('static', filename='18.png') }}"></a>
  <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=44982">  <img style="padding : 20px;"src="{{ url_for('static', filename='19.png') }}"></a></p>
    {% endblock %}